*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% ;
    font-family: Arial, Helvetica, sans-serif;
}


body{
   color: #000;
   background-color: #eee0e0e2 ;
}


/*Esta pagina es una ejemplo por eso no tiene barra de inicio y logo de la pagina  */
header{
    width: 100%;
    height: 50px;
    background-color: #96969653;
}

/* Comienzo del main titulo y imagen de la pagina principal */

main{
    width: 100%;
    height: 300px;
    
}

main > .face-page {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

main > .face-page > .text{
    width: 600px;
    height: 600px;
    
}

main > .face-page > .text > h1{
   font-size: 10rem;
   margin-top: 100px;
}

main > .face-page > .text > p{
    font-size: 2.8rem;
}

/* MAIN Comienzo de formularios  */

main > .forms {
    width: 100%;
    height: 1500px;
    background-image: linear-gradient(180deg, #0a1027 60%, #4a0174 100%);
}

main > .forms > h2{
    color: rgb(255, 255, 255);
    font-size: 7rem;
    margin-left: 40px ;
    margin-bottom: 50px;
}

main > .forms > .forms-figure{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

main > .forms > .forms-figure > .card-cuadrado{
    display: flex;
    justify-content: space-around;
    color: #1f0042;
    width: 800px;
    height: 300px;
    /* background-color: #fafafa; */
    color: rgb(247, 245, 245);
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
    border: 1px black solid;
    border-radius: 18px;
}


main  .card-cuadrado  .form-date{
   width: 400px;
  
    
}

main  .card-cuadrado  .form-date > h2{
    font-size:3rem ;

}

main  .card-cuadrado  .form-date label{
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 20px;
}

main  .card-cuadrado  .form-date input{
    width: 400px;
    margin: 6px 0;
}

main  .card-cuadrado  .form-date button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #7a7a7a7c;
}

main .card-cuadrado .image {
    /* background-color: #7a7a7a;
    width: 200px; */
    
}

main .card-cuadrado .image > img{
    width: 250px;
    
}


footer{
    width: 100%;
    height: 300px;
    

}